spring:
  application:
    name: literature-ws
elasticsearch:
  hosts: http://cms-search.gbif-dev.org:9200/
  index: literature
  connectionTimeOut: 60000
  socketTimeOut: 60000
  connectionRequestTimeOut: 120000
